*._bootmp*
*.cache
*.doc
*.exe
*.lineno
*.log
*.o
*.trs
*~
.DS_Store
.deps
/GNUmakefile
/GNUmakefile
/INSTALL
/README-release
/aclocal.m4
/benchmarks/gzip-1.10
/build-aux
/config.status
/configure
/gunzip
/gzexe
/gzip
/src/gzip
/gzip-*
/lib/arg-nonnull.h
/lib/c++defs.h
/lib/warn-on-use.h
/libver.a
/src/libver.a
/maint.mk
/maint.mk
/version.[ch]
/zcat
/zcmp
/zdiff
/zegrep
/zfgrep
/zforce
/zgrep
/zless
/zmore
/znew
ChangeLog
Makefile
Makefile.in
gzip.doc.gz
!zlib_interface_test/Makefile
